.masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -5px;
  margin-top: -15px;
  width: auto;
}

.masonry-grid-column {
  padding-left: 5px;
  padding-top: 15px; 
  background-clip: padding-box;
}

.newpost-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 11em;
}