@media (max-width: 600px) {
  .menubar-component-device {
    height: 9
    110px;
  }

  .menu-searchbar {
    width: calc(100% - 30px);
  }
}

@media (min-width: 620px) {
  .menubar-component-device {
    height: 55px;
  }

  .menu-searchbar {
    width: 100%;
  }
}

.menubar-component {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  background-color: #dd2525;
  z-index: 1000;
}

.no-padding {
  padding: 0px;
}

.full-width {
  width: 100%;
}