@media (max-width: 600px) {
  .notification-style {
    background-color: rgba(45, 45, 45, 0.7);
    position: fixed;
    bottom: 10%;
    left: 50%;
    margin-left: -40%;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    color: white;
    width: 80%;
    height: 3em;
    border-radius: 6px;
  }
}

@media (min-width: 620px) {
  .notification-style {
    background-color: rgba(45, 45, 45, 0.7);
    border: 1px solid #dddddd;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 85px;
    left: 50%;
    margin-left: -20%;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    line-height: 2em;
    color: white;
    width: 40%;
    height: 4em;
  }
}