.spinner {
  position: fixed;
  z-index: 1000;
  margin-left: -7.5%;
  left: 50%;
  bottom: 5%;
  width: 15%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base {
  border-radius: 50%;
  background-color: rgba(230, 0, 0, 0.5);
  color: rgba(230, 0, 0, 0.5);
  border: 25px solid rgba(230, 0, 0, 0.5);
}

.spinner-sector {
  border-radius: 50%;
  position: absolute;
  border: 20px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-sector-red0 {
  animation: rotate 2s ease-out infinite;
  border-top: 20px solid rgba(250, 0, 0, 0.5);
}

.spinner-sector-red1 {
  animation: rotate 1s ease-out infinite;
  border-top: 20px solid rgba(190, 0, 0, 0.5);
}

.spinner-sector-red2 {
  animation: rotate 1.5s ease-out infinite;
  border-top: 20px solid rgba(120, 0, 0, 0.5);
}
.spinner-sector-red3 {
  animation: rotate 5s ease-out infinite;
  border-top: 20px solid rgba(80, 0, 0, 0.5);;
}

.spinner-sector-red4 {
  animation: rotate 4s ease-out infinite;
  border-top: 20px solid rgba(0, 0, 0, 0.5);
}

@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}