body {
  background-color: #f4f4f4;
  margin-top: 80px;
  width: 95%;
  align: center;
  margin: auto;
}

@media (min-width: 320px) and (max-width: 600px) {
  body {
    margin-top: 110px;
  }
}


@media (min-width: 624px) {
  body {
    margin-top: 80px;
  }
}

p {
  margin: 0px;
}