@media (max-width: 600px) {
  .search-popup {
    background-color: white;
    border: 1px solid #dddddd;
    position: fixed;
    left: 0px;
    top: 100px;
    width: 100%;
  }
}

@media (min-width: 620px) {
  .search-popup {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: fixed;
    left: 190px;
    top: 45px;
    width: calc(100% - 6 * 60px - 20px);
  }
}

a {
  animation: fade 0.4s;
  color: black;
}

a:hover, a:active {
  animation: fade 0.4s;
  color: white;
}

.full-width {
  width: 100%;
}

.popup-menu-item {
  border-radius: 5px;
  background-color: white;
  color: black;
}

.popup-menu-item:hover, .popup-menu-item:active {
  animation: fade 0.4s;
  border-radius: 5px;
  background-color: #cc0000;
  color: white;
}

.search-result {
  width: 100%;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 5px;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}