.comments-component {
  background-color: #eeeeee;
  border: #e4e4e4;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  padding: 10px 10px 10px 10px;
  width: calc(100% - 10px);
}

.comments-container {
  max-height: 30vh;
  overflow: auto;
}