.post-component {
  vertical-align: top;
  margin-top: 5px;
  border: 1px solid #dddddd;
  white-space: pre-line;
  text-align: top;
  border-radius: 3px;
  background-color: #ffffff;
}

.div-style {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.div-style2 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
