.post-component {
  animation: fade-in ease 1.5s;
  min-width: 95%;
  max-height: 30%;
  vertical-align: top;
  max-width: 95%;
  margin-left: 5px;
  margin-top: 25px;
  border: 1px solid #dddddd;
  white-space: pre-line;
  text-align: top;
  border-radius: 3px;
  background-color: #ffffff;
}

.div-style {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.div-style2 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opactiy: 1;
  }
}