.workout-component {
  width: 100%;
  background-color: #ffffff;
  margin: 15px 15px 15px 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.workout-image {
  width: 35%;
}

.workout-info {
  width: 80%;
  vertical-align: top;
}

.workout-button {
  width: 100%;
  vertical-align: top;
}

.first {
  width: 33%;
}

.second {
  width: 50%;
}

.third {
  width: 100%;
}

.workout-segment {
  line-break: strict;
  white-space: pre-line;
  text-align: left;
  vertical-align: top;
  padding: 0px;
}