body {
  background-color: #e4e4e4;
  margin-top: 80px;
  width: 95%;
  align: center;
  margin: auto;
}

div {
  box-sizing: border-box;
}

button, input, textarea, img {
  border: none;
  margin: 5px;
  padding: 10px;
}

a {
  animation: fade 0.4s;
  color: black;
}

a:hover, a:active {
  animation: fade 0.4s;
  color: #ff4444;
}

@media screen and (max-width: 600px) {
  body {
    margin-top: 110px;
    width: 100%;
  }
}


@media screen and (min-width: 624px) {
  body {
    margin-top: 80px;
  }
}

p {
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  margin: 0.5rem;
}

form input {
    width: 100%;
}
form span {
    display: block;
    overflow: hidden;
    padding: 0 0 0 0;
}